html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: "Source Sans Pro", serif;
}

#modal-root {
  position: relative;
  z-index: 999;
}

.welcome-message {
  font-size: 18px;
  text-align: center;
  padding: 0 30px;
}

.search-input::placeholder {
  color: rgba(123, 123, 123, 0.78);
}

.price-input::placeholder {
  color: #4a4a4a;
}

.product-grid-item {
  border: 1px solid #e4e4e4;
  padding: 20px;
  transition: 0.3s;
}

.product-grid-item:hover {
  border: 2px solid #f8cb00;
  padding: 19px;
}
