html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: "Source Sans Pro", serif;
}

.welcome-message {
  font-size: 18px;
  text-align: center;
  padding: 0 30px;
}

.search-input::placeholder {
  color: rgba(123, 123, 123, 0.78);
}

.price-input::placeholder {
  color: #4a4a4a;
}
